html, body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

@media only screen and (max-width: 815px)
#navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

@media only screen and (max-width: 815px)
#navbar ul {
    border: 1px solid;
    height: 207px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#navbar a {
    display: block;
    padding: 5px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

nav {
  display: block;

}

a img {
    opacity: 0.8;
    border-radius: 14%;
    padding-right: 25px;
}

@media only screen and (max-width: 815px)
#main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
}

#main-doc {
    position: relative;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

main {
  display: block;
}

section {
    display: block;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

header {
    display: block;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

article {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

section li {
    margin: 15px 0px 0px 20px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

section a:hover {
color: black;
}